#!/usr/bin/make -f

BUILDDIR = build_dir

# secondly called by launchpad
build:
	mkdir $(BUILDDIR)
	cd $(BUILDDIR)
	meson setup _build --prefix=/usr -DGSETTINGS_COMPILE=OFF -DICON_UPDATE=OFF
	meson compile -C _build


# thirdly called by launchpad
binary: binary-indep binary-arch

binary-indep:
	# nothing to be done

binary-arch:
	meson install -C $(BUILDDIR)/_build --destdir=./debian/tmp
	mkdir -p ./debian/tmp/DEBIAN
	mv $(BUILDDIR)/debian/tmp/* ./debian/tmp
	dpkg-gencontrol -pterminus;
	dpkg --build debian/tmp ..

# firstly called by launchpad
clean:
	rm -f _build
	rm -rf $(BUILDDIR)

.PHONY: binary binary-arch binary-indep clean
