[Desktop Entry]
Name=Terminus
Comment=A terminal with the capabilities of Guake and Terminator
Keywords=shell;prompt;command;commandline;cmd;ptyxis;terminal;cli;console;
TryExec=terminus
Exec=terminus
Icon=terminus
Type=Application
Categories=GNOME;GTK;System;TerminalEmulator;Utility;
StartupNotify=true
SingleMainWindow=false
Actions=new-window;
X-ExecArg=--
X-TerminalArgExec=--
X-TerminalArgDir=--working-directory
X-Ubuntu-Gettext-Domain=terminus

[Desktop Action new-windo]
Name=New Window
Exec=terminus
